<!--Creates a model object that can be iterated through-->
@model IEnumerable<BlowOut2.Models.Instrument>
<!--Page Title-->
@{
    ViewBag.Title = "Rentals";
}
<!--Checkpoint 3 BreadCrumb to navigate back to another page-->
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Instrument Rentals", "Rentals", "Home")</li>
</ol>
<!--Header-->
<h2>Instrument Rentals</h2>

<!--Fully Dynamic Instrument view -- more simple-->
<div class="container">
    <div class="row">
        <div>
            <!--Iterates through each Item in the model-->
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <!--Makes each Intrument image a link that directs you to create a client, and passes the Instrument ID-->
                        <a href='@Url.Action("Create", "Clients", new { instrumentID = item.instrumentID })'>
                            <!--Shows Item Attributes-->
                            <div class="panel-title">
                                <h1 class="text-center">
                                    @Html.DisplayFor(modelItem => item.condition)
                                    @Html.DisplayFor(modelItem => item.instrumentName)
                                </h1>
                            </div>
                            <!--Shows the Item Picture-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <img src="@Html.DisplayFor(modelItem => item.imgPath)" class="img-responsive" style="height:250px" />
                                    <!--Shows the item price-->

                                </div>
                            </div>
                                <div class="panel-footer">
                                    <h2 class="text-center">Price: $@Html.DisplayFor(modelItem => item.price)</h2>
                                </div>
                            </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--6 Instrument view dynamic from model -- more complicated-->
@*<div class="container">
        <div class="row">
        <!--Iterates through each item in the model-->
        @foreach (var item in Model)
        {
            <!--Checks to see if the condition is New to display only new items-->
            if(item.condition == "New")
            {
                <!--Displays each item image, and information-->
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => item.imgPath)">
                        <div class="caption">
                            <h3>@Html.DisplayFor(modelItem => item.instrumentName)</h3>
                            <p>
                                <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("RentalItem", "Instruments", new { insName = item.instrumentName })'">Get More Details</button>
                            </p>
                        </div>
                    </div>
                </div>
            //}

        }
        </div>
    </div>*@
<!--Checkpoint 3 Hardcoded Instrument View-->
<!--<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/trumpet.png" alt="Trumpet">
            <div class="caption">
                <h3>Trumpet</h3>
                <p>
                    <button type="button" class="btn btn-lg" onclick="location.href='@*@Url.Action("RentalItem", "Home", new { name = "Trumpet" })*@'">Get More Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/trombone.png" alt="Trombone">
            <div class="caption">
                <h3>Trombone</h3>
                <p>
                    <button type="button" class="btn btn-lg" onclick="location.href='@*@Url.Action("RentalItem", "Home", new { name = "Trombone" })*@'">Get More Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/tuba.png" alt="Tuba">
            <div class="caption">
                <h3>Tuba</h3>
                <p>
                    <button type="button" class="btn btn-lg" onclick="location.href='@*@Url.Action("RentalItem", "Home", new { name = "Tuba" })*@'">Get More Details</button>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/flute.png" alt="Flute">
            <div class="caption">
                <h3>Flute</h3>
                <p>
                    <button type="button" class="btn btn-lg" onclick="location.href='@*@Url.Action("RentalItem", "Home", new { name = "Flute" })*@'">Get More Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/clarinet.png" alt="Clarinet">
            <div class="caption">
                <h3>Clarinet</h3>
                <p>
                    <button type="button" class="btn btn-lg" onclick="location.href='@*@Url.Action("RentalItem", "Home", new { name = "Clarinet" })*@'">Get More Details</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/saxophone.png" alt="Saxophone">
            <div class="caption">
                <h3>Saxophone</h3>
                <p>
                    <button type="button" class="btn btn-lg" onclick="location.href='@*@Url.Action("RentalItem", "Home", new { name = "Saxophone" })*@'">Get More Details</button>
                </p>
            </div>
        </div>
    </div>
</div>
-->
